* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*HEADER*/

.logoPokemon{
    background-color: #cc0000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoPokemon .logo img{
    width: 250px;
    height: 150px;
}

.logoPokemon .pokebola{
    justify-content: right;
}

.logoPokemon .pokebola img{
    width: 100px;
    height: 100px;
}

.subNav {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.subNav .content{
    justify-content: left;
    width: 60%;

}

.logo img {
    width: 100px;
}

.titulo{
    background-color: #1783f7;
    border: solid black ;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 35px;
}

 



.order-section {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order-section label {
    font-size: 16px;
    margin-right: 10px;
}

.order-section select {
    padding: 5px;
    font-size: 16px;
}

.pokemon-grid {
    margin: 20px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 20px;  
}

.pokemon-card {
    background-color: #c1e1b9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

 
.pokemon-card img {
    width: 150px;  
    height: auto;
    margin-bottom: 10px;
}


.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-type {
    margin: 5px 0;
    padding: 8px 15px;    
    color: white;
    font-size: 16px;
    border-radius: 5px;
} 

.tipos {
    width: 100%;  
    justify-content: center;  
}

.bug {
    background-color: #a8b820;
}

.fairy {
    background-color: #f0b0e0;
}

.fighting {
    background-color: #c03028;
}

.flyng {
    background-color: #a890f0;
}

.ghost {
    background-color: #705898;
}

.ice {
    background-color: #98d8d8;
}

.rock {
    background-color: #b8a038;
}

.steel {
    background-color: #b8b8d0;
}

.dark {
    background-color: #705848;
}

.ground {
    background-color: #e0c068;
}

.psychic {
    background-color: #f85888;
}

.dragon {
    background-color: #7038f8;
}
