@font-face {
    font-family: 'Pokefont';
    src: url('../fonts/Pokemon\ Classic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Subrayada';
    src: url('../fonts/BubaDEMO-Shadow.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/*HEADER*/

.logoPokemon{
    background-color: #cc0000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoPokemon .logo img{
    width: 250px;
    height: 150px;
}

.logoPokemon .pokebola{
    justify-content: right;
}

.logoPokemon .pokebola img{
    width: 100px;
    height: 100px;
}

.subNav {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.subNav .content{
    justify-content: left;
    width: 60%;

}

.logo img {
    width: 100px;
}



/*
.search-bar input {
    padding: 6px;
    font-size: 16px;
    border: 0;
}


#search{
    color: black;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 6px;
}

*/
.titulo{
    background-color: #1783f7;
    border: solid black ;
    color: rgba(255, 255, 255, 0.911);
    border-radius: 45px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.titulo h1{
    text-transform: uppercase;
    font-family: 'Subrayada';
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}

main {
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-info {
    text-align: center;
}

.imagenes{
    position: relative;
    width: 400px; 
    height: 400px; 
    margin-bottom: 50px;
}

.pokemon-img-pokeball {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.pokemon-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: auto;
}

.info-title{
    margin-bottom: 0;
    width: 10%;
    margin-bottom: 10px;
}

.info-title img{
    width: 50px;
    height: 50px;
}

.info-text {
    margin-top: 20px;
    background-color: rgb(196, 196, 196, 0.6);
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 15px;
    font-family: 'Pokefont';
}

.info-titulos ul{
    justify-content: space-between;
    width: 100%;
}

.info-titulos ul:first-child{
    color: rgb(50, 156, 255);
}

.info-text p {
    font-size: 20px;
    align-items: start;
}

.info-text ul {
    list-style: none;
    margin-top: 10px;
}

.info-text ul li {
    font-size: 20px;
    margin-bottom: 5px;
    
}

.evolution {
    margin-top: 40px;
}

.evolution-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evolution-stage {
    text-align: center;
}

.evolution-img {
    width: 100px;
}

.types {
    margin-top: 20px;
    text-align: center;
    font-family: 'Subrayada';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}

.type {
    padding: 8px 30px;
    margin: 5px;
    font-size: 25px;
    border-width: 2px;
    border-color: black;
    border-radius: 35px;
    cursor: pointer;
}

.type:first-child {
    background-color: #007bff;
    color: white;
}

.type:last-child {
    background-color: #f0ad4e;
    color: white;
}
