* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*HEADER*/

.logoPokemon{
    background-color: #cc0000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoPokemon .logo img{
    width: 250px;
    height: 150px;
}

.logoPokemon .pokebola{
    justify-content: right;
}

.logoPokemon .pokebola img{
    width: 100px;
    height: 100px;
}

.subNav {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.subNav .content{
    justify-content: left;
    width: 60%;

}

.logo img {
    width: 100px;
}



/*
.search-bar input {
    padding: 6px;
    font-size: 16px;
    border: 0;
}


#search{
    color: black;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 6px;
}

*/
.titulo{
    background-color: #1783f7;
    border: solid black ;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 35px;
}

 



.order-section {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order-section label {
    font-size: 16px;
    margin-right: 10px;
}

.order-section select {
    padding: 5px;
    font-size: 16px;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.pokemon-card {
    background-color: #c1e1b9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.pokemon-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-type {
    margin: 5px 0;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.planta {
    background-color: #78c850;
}

.veneno {
    background-color: #a040a0;
}

.fuego {
    background-color: #f08030;
}

.agua {
    background-color: #6890f0;
}

.electrico {
    background-color: #f8d030;
}

.normal {
    background-color: #a8a878;
}